:root {
	--header-font: bold 1.25em Arial, Helvetica, sans-serif;
	--main-font: normal 1em Arial, Helvetica, sans-serif;
	--header-font-m: bold 1.15em Arial, Helvetica, sans-serif;
	--main-font-m: normal .95em Arial, Helvetica, sans-serif;

	--light-color: rgb(255, 255, 255);
	--dark-color: rgb(19, 18, 18);
	--main-color: rgb(18, 112, 190);
	--danger-color: rgb(228, 21, 24);
	--primary-danger-color: rgb(255, 176, 176);
	--main-bg-color: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(19, 18, 18, 1) 50%);

	--size-l: 2rem;
	--size-m: 1rem;
	--size-s: .5rem;

	--base-spacing: var(--size-s);
	--large-spacing: var(--size-m);
	--extra-large-spacing: var(--size-l);
}

* {
	margin: 0;
	padding: 0;
}

html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

body {
	max-width: 100vw;
	min-height: 100vh;
	color: var(--dark-color);
	font: var(--main-font);
	background: var(--light-color);
	background: var(--main-bg-color);
}

section.todo {
	background: url('../src/laptop.png') center center/1200px auto no-repeat;
}

section.container {
	width: 100%;
	height: 100vh;
	display: -ms-grid;
	display: grid;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

div.todo__content {
	margin: 0.2rem 0 0 4.5rem;
	padding: 2rem 0;
	width: 42rem;
	height: 32rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: relative;
	gap: 1.75rem;
}

div.todo__new-task,
div.todo__task-list,
div.todo__split {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 1.5rem;
}

div.todo__new-task {
	-webkit-box-ordinal-group: 4;
	    -ms-flex-order: 3;
	        order: 3;
}

div.todo__task-list {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
	overflow: auto;
}

div.todo__split {
	width: .5rem;
	height: 100%;
	background: var(--dark-color);
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
}

h2.todo__title {
	margin: 0.5rem auto 0;
	font: var(--header-font);
	color: var(--main-color);
}

/* Style the list items */
ul.todo__task-list__items {
	width: 100%;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: .5rem;
}

ul.todo__task-list__items li.todo__task-list__item {
	padding: 12px 0 12px 40px;
	width: 100%;
	position: relative;
	border-radius: var(--base-spacing);
	list-style-type: none;
	cursor: pointer;
}

ul.todo__task-list__items li.todo__task-list__item:hover {
	background: color-mix(in srgb, var(--main-color), transparent 90%);
}

ul.todo__task-list__items li.todo__task-list__item:hover span.ballot:before,
ul.todo__task-list__items li.todo__task-list__item:hover span.close:after {
	opacity: 1;
}

/* Style the "ballot" mark */
ul.todo__task-list__items li.todo__task-list__item span.ballot:before {
	content: '\2610';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 1.5em;
	vertical-align: bottom;
	color: var(--main-color);
	width: 42px;
	height: 42px;
	float: right;
	display: -ms-grid;
	display: grid;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	opacity: .5;
}

ul.todo__task-list__items li.todo__task-list__item span.ballot:hover:before {
	opacity: 1;
}

/* Add a "ballot-check" mark when clicked on */
ul.todo__task-list__items li.todo__task-list__item span.ballot-check:before {
	content: '\2611';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 1.5em;
	vertical-align: bottom;
	color: var(--main-color);
	width: 42px;
	height: 42px;
	display: -ms-grid;
	display: grid;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

/* Style the "close" button */
ul.todo__task-list__items li.todo__task-list__item span.close:after {
	content: '\2715';
	position: absolute;
	top: 0;
	left: 245px;
	right: 0;
	bottom: 0;
	font-size: 1.25em;
	vertical-align: bottom;
	color: var(--main-color);
	width: 42px;
	height: 42px;
	display: -ms-grid;
	display: grid;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	opacity: .5;
}

ul.todo__task-list__items li.todo__task-list__item span.close:hover:after {
	opacity: 1;
}

/* Style the input */
input.todo__new-task__input {
	margin: 0;
	padding: .25rem 0rem;
	width: 100%;
	border: none;
	border: 0;
	outline: 0;
	border-radius: 0;
	border-bottom: 2px solid var(--dark-color);
	font: var(--main-font);
}

/* Style the "add" button */
button.todo__new-task__btn {
	width: 120px;
	height: 40px;
	border: none;
	outline: none;
	border-radius: var(--base-spacing);
	color: var(--light-color);
	background-color: var(--dark-color);
	-webkit-transition: -webkit-transform .2s ease;
	transition: -webkit-transform .2s ease;
	-o-transition: transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease;
}

button.todo__new-task__btn:hover {
	-webkit-transform: scale(1.01);
	    -ms-transform: scale(1.01);
	        transform: scale(1.01);
	background-color: var(--main-color);
	cursor: pointer;
}

.visually-hidden,
div.todo__alert.visually-hidden {
	display: none;
}

/* Style the error mesages */
div.todo__alert {
	padding: 0 40px;
	width: 100%;
	max-width: 450px;
	height: 135px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 0.75rem;
	position: absolute;
	top: 17%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	font-size: large;
	border-radius: var(--extra-large-spacing);
	color: var(--danger-color);
	background: color-mix(in srgb, var(--primary-danger-color), transparent 10%);
}

/* Style the "close" button of the error mesages */
:is(div.todo__alert div.close-alert):after {
	content: '\00d7';
	position: absolute;
	top: 12px;
	right: 12px;
	width: 52px;
	height: 42px;
	display: -ms-grid;
	display: grid;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 1.75em;
	color: var(--danger-color);
	opacity: .5;
}

:is(div.todo__alert div.close-alert):hover:after {
	opacity: 1;
}

/* Media Queries */
@media only screen and (max-width: 679px) {
	body {
		font: var(--main-font-m);
	}

	section.todo {
		background: var(--main-bg-color);
	}

	div.todo__content {
		margin: 0 auto;
		padding: 20px 15px 30px;
		width: 19rem;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		border-radius: var(--base-spacing);
		border: 2px solid var(--dark-color);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background: var(--light-color);
	}

	div.todo__split {
		display: none;
	}

	h2.todo__title {
		margin: 0.5rem auto 0;
		font: var(--header-font-m);
		color: var(--main-color);
	}

	ul.todo__task-list__items li.todo__task-list__item {
		padding: 10px 0 10px 35px;
	}

	ul.todo__task-list__items li.todo__task-list__item span.ballot:before {
		width: 37px;
		height: 37px;
		font-size: 1.1em;
	}

	ul.todo__task-list__items li.todo__task-list__item span.ballot-check:before {
		width: 37px;
		height: 37px;
		font-size: 1.1em;
	}

	ul.todo__task-list__items li.todo__task-list__item span.close:after {
		left: 215px;
		font-size: .9em;
		width: 37px;
		height: 37px;
	}

	button.todo__new-task__btn {
		width: 110px;
		height: 35px;
	}

	div.todo__alert {
		max-width: 275px;
		height: 130px;
		top: 20%;
	}
}

@media only screen and (min-width: 680px) and (max-width: 1023px) {
	body {
		font: var(--main-font-m);
	}

	section.todo {
		background-size: 900px auto;
	}

	div.todo__content {
		margin: 0.2rem 0 0 3.5rem;
		padding: 2rem 0;
		width: 32rem;
		height: 30rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		position: relative;
		gap: 1.25rem;
	}

	div.todo__new-task,
	div.todo__task-list,
	div.todo__split {
		gap: 1rem;
	}

	h2.todo__title {
		margin: 1rem auto 0;
		font: var(--header-font-m);
		color: var(--main-color);
	}

	ul.todo__task-list__items li.todo__task-list__item {
		padding: 10px 0 10px 35px
	}

	ul.todo__task-list__items li.todo__task-list__item span.ballot:before {
		width: 37px;
		height: 37px;
		font-size: 1.25em;
	}

	ul.todo__task-list__items li.todo__task-list__item span.ballot-check:before {
		width: 37px;
		height: 37px;
		font-size: 1.25em;
	}

	ul.todo__task-list__items li.todo__task-list__item span.close:after {
		left: 180px;
		font-size: 1em;
		width: 37px;
		height: 37px;
	}

	button.todo__new-task__btn {
		width: 110px;
		height: 35px;
	}

	div.todo__alert {
		max-width: 400px;
		height: 105px;
		top: 17%;
	}
}
